@media screen and (max-width: 640px) {
    .page-subtitle{
            padding: 0 18px;
        }

    #header {
        display: flex;
        align-items: center;
    }

    .app-header-fixed {
        padding-top: 60px;
    }

    .navbar-header .navbar-brand {
        padding: 10px 0 10px 50px;
    }

    .blocks-container {
        margin-top: 8px;
    }

    .app-header .navbar-nav {
        padding: 10px 0;
    }

    .app-content h5{
        margin-top: 20px;
    }

    .icon-left {
        left: 20px;
    }

    div.navbar-item.navbar-user {
        margin-right: 18px !important;
    }

    .seat-bg-color, .seat-container, .home-container{
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .seat-bg-color:hover, .home-container:hover, .available-seat:hover, .available-half-day-seat:hover{
        justify-content: space-evenly;
        background-color: #fff;
        color: black;
    }

    .seat-type-btn {
        margin-bottom: 0 !important;
    }

    .cancel-booking-btn, .booking-btn {
        display: block;
        cursor: pointer;
    }

    .booking-btn {
        background-color: #324252;
        color: white;
    }

    .error-window, .booked-seat-successfully {
         position: absolute;
            padding: 40px 15px 10px;
            top: -100px;
            left: 0;
            width: 224px;
            color: #9f9e9e;
            background-color: white;
            border-bottom: 1px solid #9f9e9e;
            font-size: 14px;
            text-align: center;
            animation-name: example;
            animation-duration: 9s;
            z-index: 10;
    }

    @keyframes example {
        0%   {background-color: white; left:0; top: -100px;}
        50%  {background-color: white; left:0; top: 30px;}
        100%  {background-color: white; left:0; top: -100px;}
    }

    .type-description .seat-type-description {
        display: inline-block;
        padding: 1px 4px;
        top: -22px;
        left: 75px;
        height: 14px;
        font-size: 9px;
    }

    .seats-map {
        margin-top: 20px !important;
        position: relative;
        right: 0;
        top: 0;
        text-align: center;
    }

    .seats-map .seats-location img {
        width: 224px !important;
    }

    .my-bookings-container {
        margin: 30px 10px 0;

        table, .request-list table td button {
            font-size: 12px;
        }
    }
}
