body {
    font-family: 'Neue Plak Bold', 'Urbane Demi Bold', sans-serif;
}

.app-header {
    box-shadow: none;
}

.seat-container, .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 224px;
    height: 166px;
    border-radius: 5%;
}

.seat-bg-color, .available-seat, .room-bg-color {
    justify-content: center;
    background-color: #fff;
    color: black;
    border: 1px solid #9f9e9e;
    margin-top: 30px;
}

.seat-bg-color:hover, .home-container:hover{
    justify-content: space-evenly;
    background-color: #20B3BE;
    color: #fff;
}

.home-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 166px;
    color: black;
}

.home-container:hover a{
    color: #fff;
}

.seat-bg-color .seat-type-btn{
    margin-bottom: 14px;
}

.seat-bg-color:hover .seat-type-btn{
    margin: 0;
}

.booked-seat {
    margin-top: 30px;
    background-color: #DFE3E4;
    color: black;
    border: 1px solid #9f9e9e;
}

.booked-by-me {
    margin-top: 30px;
    background-color: #324252;
}

.blocks-container {
    margin-top: 30px;
}

.booking-btn {
    display: none;
    margin: 0 auto;
    width: 100px;
    height: 28px;
    font-size: 12px;
    border: none;
    border-radius: 5%;
    background-color: #ffffff;
    text-align: center;
}

.cancel-booking-btn {
    display: none;
    width: 78px;
    height: 22px;
    font-size: 9px;
    border: none;
    border-radius: 5%;
    text-align: center;
}

.seat-bg-color:hover .booking-btn, .booked-by-me:hover .cancel-booking-btn, .booked-by-me:hover .booking-btn{
    display: block;
    transition: .2s;
    cursor: pointer;
}

.book_any_btn{
    display: block;
}

.book_any_btn:hover{
    background-color: #20B3BE;
    color: #fff;
}

.seat-num {
    font-size: 16px;
}

.error-window, .booked-seat-successfully {
    position: absolute;
    padding: 40px 15px 15px;
    top: -136px;
    left: 282px;
    width: 224px;
    color: #9f9e9e;
    background-color: white;
    border-bottom: 1px solid #9f9e9e;
    font-size: 14px;
    text-align: center;
    animation-name: example;
    animation-duration: 9s;
}

@keyframes example {
    0%   {background-color: white; right:0; top: -120px;}
    50%  {background-color: white; left:282px; top:30px;}
    100%  {background-color: white; left:282px; top:-136px;}
}

.error-title, .success-title {
    padding-top: 10px;
    color: black;
}

.user-picture-booked-seat {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user-name-booked-seat {
    font-size: 8px;
}

.half-day-booking {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    align-items: center;
}

.booked-seat.user-name-booked-seat {
    color: black;
}

.book-calendar {
    display: flex;
    justify-content: center;
    margin: 14px 0;
}

.react-datepicker-wrapper {
    display: flex;
}

input[type="radio"] {
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    color: #ffffff;
    background-color: #ffffff;
    width: 1em;
    height: 1em;
    border: 0.08em solid grey;
    border-radius: 50%;
}

input[type="radio"]::before {
    content: "";
    width: 0.58em;
    height: 0.58em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #20B3BE;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

label {
    margin: 0 10px 0 4px;
}

.user-booking-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
text-decoration: none;
}

.navbar-username {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon-left {
    left: 64px;
    color: #9f9e9e
}
