/node_modules
/public/hot
/public/storage
/public/assets
/storage/debugbar/*
/storage/*.key
/storage/debugbar/*
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/assets/plugins
/public/assets/webfonts
/public/assets/js/theme
/storage/debugbar/*
/storage/*.key
/storage/debugbar/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.DS_Store
