body {
    font-family: 'Neue Plak Bold', 'Urbane Demi Bold', sans-serif;
}

.app-header {
    box-shadow: none;
}

.seat-container {
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 166px;
    border-radius: 5%;
}

.seat-bg-color, .available-seat {
    background-color: #fff;
    color: black;
    border: 1px solid #9f9e9e;
}

.seat-bg-color:hover {
    background-color: #20B3BE;
    color: #fff;
    background-image: none;
}

.booked-seat {
    background-color: #DFE3E4;
    color: black;
    border: 1px solid #9f9e9e;
}

.booked-by-me {
    background-color: #324252;
}

.booking-btn {
    display: none;
    padding: 4px;
    margin: 0 auto;
    width: 100px;
    font-size: 12px;
    border: 1px solid white;
    text-align: center;
}

.seat-bg-color:hover .booking-btn{
    display: block;
    margin-top: 14px;
    transition: .2s;
    cursor: pointer;
}

.seat-num {
    font-size: 16px;
    padding-top: 20px;
}

.seat-bg-color:hover .seat-num {
    padding-top: 16px;
    transition: .2s;
}

.seat-type-btn {
    padding-top:44px;
}

.booked-seat-type-btn {
    padding-top:12px;
}

.seat-bg-color:hover .seat-type-btn {
    padding-top:28px;
    transition: .2s;
}

.error-window, .booked-seat-successfully {
    position: absolute;
    padding: 40px 15px 15px;
    top: -136px;
    left: 282px;
    width: 224px;
    height: max-content;
    color: #9f9e9e;
    background-color: white;
    border-bottom: 1px solid #9f9e9e;
    font-size: 14px;
    text-align: center;
    animation-name: example;
    animation-duration: 9s;
}

@keyframes example {
    0%   {background-color: white; right:0; top: -120px;}
    50%  {background-color: white; left:282px; top:30px;}
    100%  {background-color: white; left:282px; top:-136px;}
}

.error-title, .success-title {
    padding-top: 10px;
    color: black;
}

.user-picture-booked-seat {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.user-container-booked-seat {
    display: flex;
    justify-content: space-between;
    padding: 8px 14px;
    align-items: end;
}

.user-name-booked-seat {
    font-size: 10px;
    height: min-content;
    margin-right: 6px;
}

.booked-seat.user-name-booked-seat {
    color: black;
}

.book-calendar {
    display: flex;
    justify-content: center;
    margin: 14px 0;
}

.react-datepicker-wrapper {
    display: flex;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: self-end;
}
